<% content_for :title, "PLV - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "vem" %>
    <%= stylesheet_link_tag "plv" %>
<% end %>

<h2>PLV: <%= @new_plv_file.file_name %></h2>
<div id="plv_wrap">
<table id="head" class="plv">
  <tbody>
  <tr>
    <th>Sequence number of plots</th>
    <th>Country Code</th>
    <th>Plot Number</th>
    <th>Sample_ID</th>
    <th>Team ID</th>
    <th>Number of Team members</th>
    <th>Survey Type</th>
    <th>Survey Number</th>
    <th>Date</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Altitude</th>
    <th>Fence</th>
    <th>Total Sampled Area</th>
    <th>Tree layer cover</th>
    <th>Shrub layer height</th>
    <th>Shrub layer cover</th>
    <th>Herb layer height</th>
    <th>Herb layer cover</th>
    <th>Mosses cover</th>
    <th>Bare soil cover</th>
    <th>Litter cover</th>
    <th>Other observations</th>
  </tr>
  </tbody>
 </table>
<div id="ver_scroll">
 <table id="body" class="plv">
   <tbody>
   <% for i in 0..@plv_list.size-1 %>
    <tr>
        <td><%= @plv_list.at(i).plot_seq_number %></td>
        <td><%= @plv_list.at(i).country_code %></td>
        <td><%= @plv_list.at(i).plot_number %></td>
        <td><%= @plv_list.at(i).sample_id %></td>
        <td><%= @plv_list.at(i).team_id %></td>
        <td><%= @plv_list.at(i).team_members %></td>
        <td><%= @plv_list.at(i).survey_type %></td>
        <td><%= @plv_list.at(i).survey_number %></td>
        <td><%= @plv_list.at(i).date %></td>
        <td><%= @plv_list.at(i).latitude %></td>
        <td><%= @plv_list.at(i).longitude %></td>
        <td><%= @plv_list.at(i).altitude %></td>
        <td><%= @plv_list.at(i).fence %></td>
        <td><%= @plv_list.at(i).total_area %></td>
      <td><%= @plv_list.at(i).tree_layer_cover %></td>
      <td><%= @plv_list.at(i).shrub_layer_height %></td>
      <td><%= @plv_list.at(i).shrub_layer_cover %></td>
      <td><%= @plv_list.at(i).herb_layer_height %></td>
      <td><%= @plv_list.at(i).herb_layer_cover %></td>
      <td><%= @plv_list.at(i).mosses_cover %></td>
      <td><%= @plv_list.at(i).bare_soil_cover %></td>
      <td><%= @plv_list.at(i).litter_cover %></td>
      <td><%= @plv_list.at(i).other_observations %></td>
    </tr>
  <% end %>
   </tbody>
</table>
</div>
</div>
<p class="link_file">
  <%= link_to "Download File", download_plv_path(@new_plv_file) %>
</p>
<p class="back">
  <%= link_to "PLV", :controller => "admin/plv" %>
</p>

<div id="stop_float"></div>