<% if @import_data.blank?%>
    <%= render :partial => "no_data" %>
<% else %>
    <%= render :partial => "approve_delete" %>

    <div id="wrap_result" class="overx">
    <table>
      <tbody>
      <tr>
          <th class="row">Riga</th>
          <th>Data</th>
          <th>ID plot</th>
          <th>Numero Plot</th>
          <th>Subplot</th>
          <th>Specie</th>
          <th>Copertura</th>
          <th>Altezza</th>
          <th>Eta Strutturale</th>
          <th>Danni<br /> Meccanici</th>
          <th>Danni<br /> Parassitari</th>
          <th>Radicanti Esterni</th>
          <th>Note</th>
      </tr>
      </tbody>
    </table>
    <div id="ver_scroll">
    <table id="body">
      <tbody>
      <% for i in 0..@import_data.size-1 %>
          <tr>
            <td class="row"><%= i+2 %></td>
            <td><%= @import_data.at(i).data %></td>
            <td><%= @import_data.at(i).id_plot %></td>
            <td><%= @import_data.at(i).numero_plot %></td>
            <td><%= @import_data.at(i).subplot %></td>
            <td>
              <% unless @import_data.at(i).descrizione_pignatti.blank? %>
                <%= @import_data.at(i).descrizione_pignatti %>
              <% end %>
            </td>
            <td><%= @import_data.at(i).copertura %></td>
            <td><%= @import_data.at(i).altezza %></td>
            <td><%= @import_data.at(i).eta_strutturale %></td>
            <td><%= @import_data.at(i).danni_meccanici %></td>
            <td><%= @import_data.at(i).danni_parassitari %></td>
            <td><%= @import_data.at(i).radicanti_esterni %></td>
            <td><%= @import_data.at(i).note %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
   </div>
<% end %>