<table id="file_content">
  <tbody>
  <% for i in 0..@file_erb.size-1 %>
    <tr>
      <td class="plot"><%= @file_erb.at(i).id_plot %></td>
      <%= admin_red_green(@file_erb.at(i)) %>
      <%= admin_red_green(@file_leg.at(i)) %>
      <%= admin_red_green(@file_copl.at(i)) %>
      <%= admin_red_green(@file_cops.at(i)) %>
    </tr>
  <% end %>
  </tbody>
</table>
