<% content_for :title, "Import Permits - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "import_permits" %>
    <script type="text/javascript">

    </script>
<% end %>

<h2>Permessi d'import</h2>
<p class="desc">
    Tramite quest'interfaccia <strong>è possibile visionare tutti i rilevatori che hanno caricato le proprie schede di rilevamento,
  e rilasciare loro gli appositi permessi d'import.</strong> Nel caso in cui una <strong>scheda caricata dal rilevatore non risulti corretta</strong>
  in base al regolamento stabilito, <strong>è possibile eliminarla e far si che il rilevatore ne carichi un'altra versione.</strong>
</p>

<div id="view_mask">
<% form_remote_tag(:url => {:action => "show_file"}) do -%>
<p class="input">
  <strong>Campagna:</strong>
  <%= select_tag :campagna,"<option value = '' selected>-Seleziona-</option>" + options_from_collection_for_select(@campagne,:id,:descrizione) %>
  <%= observe_field(:campagna,:url=>{:action => "load_rilev"},:with => :camp_id) %>
  (Attiva: <em><%= @campagna_attiva.descrizione%></em>)
</p>
<p id="load_rilev" class="input" style="display: none;">

</p>
<p class="last">
  <%= submit_tag "Mostra Schede" %>
</p>

<% end %>
</div>



<div id="no_data" style="display: none;">
  <p id="no_ss"> Nessuna scheda da visualizzare.</p>
</div>

<div id="file_list" style="display: none;">
  <table id="file_head">
    <tbody>
    <tr>
      <td class="plot">Plot</td>
      <td>Erbacee</td>
      <td>Legnose</td>
      <td>Copl</td>
      <td>Cops</td>
    </tr>
    </tbody>
  </table>
  <div id="tab_content"></div>
</div>

