<% content_for :head do %>
    <%= stylesheet_link_tag "import_permits" %>
<% end %>

<h2>Permessi d'import</h2>
<p class="desc">
    Tramite quest'interfaccia <strong>è possibile visionare tutti i rilevatori che hanno caricato le proprie schede di rilevamento,
  e rilasciare loro gli appositi permessi d'import.</strong> Nel caso in cui una <strong>scheda caricata dal rilevatore non risulti corretta</strong>
  in base al regolamento stabilito, <strong>è possibile eliminarla e far si che il rilevatore ne carichi un'altra versione.</strong>
</p>

<div id="view_mask">
<% form_remote_tag(:url => {:action => "show_file"}) do -%>
<p class="input">
  <strong>Anno Campagna</strong><br />
  <%= select_tag :year,"<option>-Seleziona-</option>" + options_from_collection_for_select(@year,:anno,:anno) %>
</p>
<p class="input">
  <strong><%= label_tag :rilevatore %></strong><br />
  <%= select_tag :rilevatore, "<option>-Seleziona-</option>" + options_from_collection_for_select(@rilevatore,:id,:full_name)  %>
</p>
<p class="last">
  <%= submit_tag "Mostra Schede" %>
</p>

<% end %>
</div>

<div id="file_list"></div>
