<% content_for :title, "Statistiche Specie - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "spe_stat"%>
<%end%>

<h2>Statistiche Specie</h2>
<p class="desc">
  Tramite quest'interfaccia è possibile effettuare statistiche sui dati raccolti ed approvati relativi alle specie.<br />
  Attraverso l'utilizzo di una serie di filtri è possibile generare il tipo di statistiche desiderate, visionarle e scaricarle in versione file.
</p>

<div id="input_mask">
<% form_remote_tag :url => { :action => 'result', :update => 'spe_stat'} do %>
  <div id="more_filter">
    <p class="comand">
      <%= label_tag :rilevamento %><br />
      <%= select_tag :survey,"<option value= '0' >-Seleziona-</option>" + options_for_select({"Erbacee" => "erb","Legnose" => "leg","Cops" => "cops","Erb+Leg" =>"erbleg"}) %>
      <%= observe_field :survey, :url => {:controller=>"admin/spe_stat", :action=>"show_filter",:update => "filter"},:with =>"selected_survey" %>
    </p>
    <div id="filter" style="display:none;"></div>
  </div>
  <div id="basic_filter">
    <p class="comand">
      <%= label_tag :anno %><br />
      <%= select_tag :anno , "<option value= '0' >-Seleziona-</option>" + options_from_collection_for_select(@anno,:anno,:anno)  %>
    </p>
    <p class="comand">
      <%= label_tag :plot %><br />
      <%= select_tag :plot , "<option value= '0' >-Seleziona-</option><option value='all' >Tutti</option>" + options_from_collection_for_select(@plot,:id_plot,:id_plot)  %>
    </p>
    <p class="button_command">
      <%= submit_tag "Genera" %>
    </p>
  </div>
<% end %>
</div>

<div id="spe_stat"></div>
