<% if !@sre.blank? %>
    <table>
      <thead>
      <tr>
        <th>Simple Range</th>
      </tr>
      <tr>
        <th>Riga</th>
        <th>Errore</th>
        <th>Creato il</th>
        <th>N.Import</th>
        <th>Plot</th>
        <th>Subplot</th>
        <th>In/Out</th>
        <th>Pri/Est</th>
        <th>Codice Strato</th>
        <th>Specie</th>
        <th>Copertura Complessiva</th>
        <th>Note</th>
        <th>Data</th>
        <th>Substrate</th>
        <th>Certainty Species Determination</th>
      </tr>
      </thead>
      <tbody>
      <% for i in 0..@sre.size-1 %>
          <tr>
            <td><%= @sre.at(i).row %></td>
            <td><%= @sre.at(i).error %></td>
            <td><%= @sre.at(i).created_at %></td>
            <td><%= @sre.at(i).import_num %></td>
            <td><%= @sre.at(i).plot %></td>
            <td><%= @sre.at(i).subplot %></td>
            <td><%= @sre.at(i).in_out %></td>
            <td><%= @sre.at(i).priest %></td>
            <td><%= @sre.at(i).codice_strato %></td>
            <td><%= @sre.at(i).specie %></td>
            <td><%= @sre.at(i).copertura %></td>
            <td><%= @sre.at(i).note %></td>
            <td><%= @sre.at(i).data %></td>
            <td><%= @sre.at(i).substrate_code %></td>
            <td><%= @sre.at(i).certainty_species_determination_code %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
    <p>
      Nessun errore di tipo simple range presente.
    </p>
<% end %>
