
<% if !@comp.blank? %>
    <table>
      <thead>
      <tr>
        <th>Riga</th>
        <th>Errore</th>
        <th>N.Import</th>
        <th>Plot</th>
        <th>Subplot</th>
        <th>In/Out</th>
        <th>Pri/Est</th>
        <th>Codice Strato</th>
        <th>Specie</th>
        <th>Copertura Complessiva</th>
        <th>Note</th>
        <th>Data</th>
        <th>Substrate</th>
        <th>Certainty Species Determination</th>
      </tr>
      </thead>
      <tbody>
      <% for i in 0..@comp.size-1 %>
          <tr>
            <td><%= @comp.at(i).row %></td>
            <td><%= @comp.at(i).error %></td>
            <td><%= @comp.at(i).import_num %></td>
            <td><%= @comp.at(i).plot %></td>
            <td><%= @comp.at(i).subplot %></td>
            <td><%= @comp.at(i).in_out %></td>
            <td><%= @comp.at(i).priest %></td>
            <td><%= @comp.at(i).codice_strato %></td>
            <td><%= @comp.at(i).specie %></td>
            <td><%= @comp.at(i).copertura %></td>
            <td><%= @comp.at(i).note %></td>
            <td><%= @comp.at(i).data %></td>
            <td><%= @comp.at(i).substrate_code %></td>
            <td><%= @comp.at(i).certainty_species_determination_code %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
   <%= render :partial => "empty_error" %>
<% end %>
