<% if !@comp.blank? %>
    <table>
      <thead>
      <tr>
        <th>Compliance</th>
      </tr>
      <tr>
        <th>Riga</th>
        <th>Errore</th>
        <th>Creato il</th>
        <th>N.Import</th>
        <th>Plot</th>
        <th>Subplot</th>
        <th>Specie</th>
        <th>Copertura</th>
        <th>Altezza</th>
        <th>Età Strutturale</th>
        <th>Danni Meccanici</th>
        <th>Danni Parassitari</th>
        <th>Radicanti Esterni</th>
        <th>Note</th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
      <% for i in 0..@comp.size-1 %>
          <tr>
            <td><%= @comp.at(i).row %></td>
            <td><%= @comp.at(i).error %></td>
            <td><%= @comp.at(i).created_at %></td>
            <td><%= @comp.at(i).import_num %></td>
            <td><%= @comp.at(i).plot %></td>
            <td><%= @comp.at(i).subplot %></td>

            <td><%= @comp.at(i).specie%></td>

            <td><%= @comp.at(i).copertura %></td>
            <td><%= @comp.at(i).altezza %></td>
            <td><%= @comp.at(i).eta_strutturale %></td>
            <td><%= @comp.at(i).danni_meccanici %></td>
            <td><%= @comp.at(i).danni_parassitari %></td>
            <td><%= @comp.at(i).radicanti_esterni %></td>

            <td><%= @comp.at(i).note %></td>
            <td><%= @comp.at(i).data %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
    <p>
      Nessun errore di tipo compliance presente.
    </p>
<% end %>
