<% if @message %>
    <p class="edit_message"><%= @message %></p>
<% end %>
<div id="t_wrapper">
  <table id="head">
  <tbody>
    <tr>
      <th>Codice Europeo</th>
      <th>Descrizione</th>
      <th>Famiglia</th>
      <th>Specie</th>
      <th>Specie VS</th>
      <th>Opzioni</th>
    </tr>
  </tbody>
 </table>
  <div id="ver_scroll">
  <table id="body">
  <tbody>
    <% for i in 0..@euflora.size-1 %>
        <tr>
            <td><%= @euflora.at(i).codice_eu %></td>
            <td><%= @euflora.at(i).descrizione %></td>
            <td><%= @euflora.at(i).famiglia %></td>
            <td><%= @euflora.at(i).specie %></td>
            <td><%= SpecieVs.find(@euflora.at(i).specie_vs_id).get_vs unless @euflora.at(i).specie_vs_id.blank? %></td>
          <td>
              <%= button_to_remote "Modifica", :url => { :controller =>"admin/euflora",:action => "edit", :id =>@euflora.at(i).id, :i => i, :page => params[:page]} %>
              <%= button_to_remote "Elimina", :url => { :controller =>"admin/euflora",:action => "delete", :id =>@euflora.at(i).id,:page => params[:page]}, :confirm => "Eliminando questa specie europea, eliminerai anche tutti i dati ad essa collegati. Procedere?" %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
