
<% if !@campagne.blank? %>
<table>
  <thead>
  <tr>
    <th>Campagna</th>
    <th>Inizio</th>
    <th>Fine</th>
    <th>Note di Stagione</th>
    <th>Note</th>
    <th> Simple Range Model</th>
    <th>Mandatory Mask</th>
    <th colspan="2">Opzioni</th>
  </tr>
  </thead>
  <tbody>
  <% for i in 0..@campagne.size-1 %>
      <tr>
        <td><%= @campagne.at(i).descrizione %></td>
        <td><%= @campagne.at(i).inizio %></td>
        <td><%= @campagne.at(i).fine %></td>
        <td><%= @campagne.at(i).note_stagione %></td>
        <td><%= @campagne.at(i).note %></td>
        <td><%= SimpleRangeModel.find(SimpleRangeAssociation.find(:first,:conditions => ["campagna_id = ? AND deleted = false",@campagne.at(i).id]).simple_range_model_id).nome %></td>
        <td><%= MandatoryMask.find(MandatoryMaskAssociation.find(:first,:conditions => ["campagna_id = ? AND deleted = false",@campagne.at(i).id]).mandatory_mask_id).mask_name %></td>

        <% if @campagne.at(i).active == true %>
            <td><%= button_to_remote("Disattiva",:url=>{ :controller => "admin/campagne", :action => "disattiva_campagna"}) %></td>
        <% elsif @campagne.at(i).active == false %>
            <td><%= button_to_remote("Attiva", :url => { :controller =>"admin/campagne",:action => "attiva_campagna", :n => @campagne.at(i).id}) %></td>
            <td><%= button_to_remote("Elimina",:url =>{:controller =>"admin/campagne",:action=>"elimina_campagna",:n => @campagne.at(i).id},:confirm => "Eliminando la campagna selezionata invaliderai tutti i dati ad essa collegati. Vuoi proseguire?")%></td>
        <%end%>


      </tr>
  <% end %>
  </tbody>
</table>
<% end %>