<div id = "display_input_errors" style="display:none;"></div>

<div id="input_camp">
<p class="new_c"><strong>Inserisci una nuova campagna</strong></p>
<% form_remote_tag(:url =>{:controller => 'admin/campagne',:action => 'remote_save'}) do -%>
    <p>
      <strong>Stagione:<br /></strong>
      <%= label_tag "Primavera" %>
      <%= radio_button_tag "season_id",@id_primavera%>
      <%= label_tag "Estate"%>
      <%= radio_button_tag "season_id", @id_estate%>
    </p>
    <p>
      <strong><%= label_tag "Inizio" %><br /></strong>
      <%= calendar_date_select_tag :inizio, "",:year_range =>14.years.ago..0.years.from_now , :popup => "force" %>
    </p>
    <p>
      <strong><%= label_tag "Fine" %><br /></strong>
      <%= calendar_date_select_tag :fine, "" ,:year_range =>14.years.ago..0.years.from_now , :popup => "force" %>
    </p>
    <p>
      <strong><%= label_tag "Giustifica stagione" %><br /></strong>
      <%= link_to_function ("Compila"),remote_function(:url => {:controller =>"admin/campagne", :action=>"show_season_note", :update =>"season_note"}),:class=>"little" %>
      <em>(Solamente per giustificare la non corrispondenza tra date e stagione scelta)</em>
    </p>
    <div id="season_note" style="display:none;" >
      <p>
        <%= text_area_tag :note_stagione,'', :size => "30x3" %>
      </p>
    </div>
    <p>
      <strong><%= label_tag "Osservazioni" %><br /></strong>
      <%= text_area_tag :note,'', :size => "30x5" %>
    </p>
    <p>
      <%= label_tag "Seleziona il Modello Simple Range Check:" %>
      <%= select_tag "model", "<option>-Seleziona-</option>" + options_from_collection_for_select(@model, "nome", "nome") %>
      <%= observe_field "model", :url => {:controller=>"admin/campagne", :action=>"show_model",:update => "model_view"},:with =>"model" %>
    </p>

    <p>
      <%= label_tag "Seleziona la Maschera d'obbligatorietà:" %>
      <%= select_tag "mask", "<option>-Seleziona-</option>" + options_from_collection_for_select(@mask, "mask_name", "mask_name") %>
      <%= observe_field "mask", :url => {:controller=>"admin/campagne", :action=>"show_mask",:update => "mask_view"},:with =>"mask" %>
    </p>

      <%= submit_tag "Crea" ,:class => "end_button"%><%= button_to_function "Annulla","new_campagna.hide()",:class=>"end_button"%>
<% end %>

</div>

<div id="model_view"></div>

<div id="mask_view"></div>
