<h1>Admin::PresenzaSpecie#result</h1>
<p>50x50</p>

<%= @view.at(3).plot_column.id_plot %>
<%= @view.at(3).specie_column.at(0).specie %>
<%= @view.at(3).presenza_list_column.at(1).anno.anno %>
<%= @view.at(3).presenza_list_column.at(1).presenza_column.at(0).presenza%>
<%= @view.at(3).presenza_list_column.at(1).presenza_column.at(0).habitual_note%>




