<p class="zero">
  <strong class="advice">Attenzione:</strong> la modifica del campo E-mail, comporta la necessità di validazione della stessa.<br />
  Ciò si traduce nella disattivazione dell'account fino al compimento di tale azione.
</p>
<% form_tag(update_info_path) do %>
    <p>
      <strong>Nuova E-mail:</strong><br />
      <%= text_field_tag :new_email %>
      <%= hidden_field_tag :attr, "email" %>
    </p>
    <p>
      <strong>Conferma E-mail:</strong><br />
      <%= text_field_tag :conf_email %>
    </p>
    <p>
      <strong>Password:</strong><br />
      <%= password_field_tag :psw %>
    </p>
    <p class="zero">
      <%= submit_tag "Salva" %> <%= button_to_function "Annulla", "editinfo.hide()" %>
    </p>
<% end %>
