<% content_for :title, "Password Help - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "pass_reset"%>
<%end%>

<%= render :partial => "logout_banner" %>

<div id="instruction_form">
  <h1>Password Help</h1>
  <p class="line">
    Inserisci l'e-mail associata all'account di cui non ricordi la password e clicca su "Procedi".<br />
  </p>
    <% form_tag(send_psw_reset_path) do %>
        <p class="line form">
          <strong><%= label_tag "e-mail" %></strong>
          <%= text_field_tag :email %>
        </p>
        <p class="sub_but">
            <%= submit_tag "Procedi" %>
        </p>
    <% end %>
</div>

