<% content_for :title, "Controlla Specie - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "check_specie"%>
<%end%>

<h2>Controlla Specie</h2>
<p class="desc">
  Tramite quest'interfaccia è possibile verificare l'appartenenza di specie immesse tramite <strong>file .xls</strong> alle
  specie Pignatti.<br />
  <strong>Il file deve essere strutturato in modo che le specie da controllare siano disposte in un unica colonna,
  e per controllarle è necessario indicare il numero della colonna stessa.</strong>
</p>

<div id="input_mask">
<% form_tag({:controller=>'admin/check_species', :action => 'check'},:multipart => true) do %>
    <p class="command">
      <%= file_field 'upload', 'datafile' %>
    </p>
    <p class="command">
      <%= label_tag "Colonna n°:"  %>
      <%= text_field_tag :column_species , '',:size => 2 %>
    </p>
    <p class="button_command">
      <%= submit_tag 'Controlla' %>
    </p>
<% end %>
</div>