<% unless logged_in? %>
    <% content_for :title, "Home - CONECOFOR" %>
    <% content_for :head do %>
        <%= stylesheet_link_tag "home"%>
    <%end%>

    <div id="float">
    <div id="login_border">
        <div id="login_box">
            <% form_tag sessions_path do %>
                <p class ="log_line">
                    <%= label_tag :login, "Email Address" %><br />
                    <%= text_field_tag :login, params[:login] %>
                </p>
                <p class ="log_line">
                    <%= label_tag :password %><br />
                    <%= password_field_tag :password %>
                </p>
                <p class ="log_line">
                    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                    <%= label_tag :remember_me %>
                </p>
                <p class ="log_line_last"><%= submit_tag "Log in" %></p>
            <% end %>
        </div>
    </div>
    <div id="image">

    </div>
    <div id="registration">
      <h2>Registrazione Rilevatori</h2>
      <p class="reg_desc">
        Se sei un rilevatore designato, clicca su
        <strong>
          <%= link_to "Registrati", signup_path %>
        </strong>

        per poter in seguito accedere allo strumento.
      </p>
      <p class="null_margin">
        <strong>Attenzione</strong> <em>quest'area è riservata solamente ai membri facenti parte del team del progetto</em>.
      </p>
    </div>
    </div>

<div id="presentation">
  <h1>Benvenuto in Conecofor!</h1>
  <p class="null_margin">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>

<%end%>


<% unless current_user.blank? || current_user.user_kind_id != 2%>
    <% content_for :title, "Menu Rilevatore - CONECOFOR" %>
    <% content_for :head do %>
        <%= stylesheet_link_tag "rilevatore_menu"%>
    <%end%>

    <p id="benvenuto">
      Benvenuto <strong><%= current_user.full_name %></strong>!
      <br /><br />
      Segui le instruzioni per eseguire correttamente la procedura d'import relativa ai dati in tuo possesso.
    </p>
    <div id="rilev_menu">

      <div id="import_scheda">
        <h1>Passo - 1</h1>
        <p class="fun_desc">
          Prima di poter eseguire qualsiasi tipo di import,
          è necessario caricare la propria scheda di rilevamento, cliccando su:
        </p>
        <ul>
          <li>
              <%= link_to "Carica Scheda di Rilevamento" %>
          </li>
        </ul>
      </div>

      <div id="import_survey">
        <h2>Passo - 2</h2>
        <p class="fun_desc">
          Una volta eseguito il <em>"Passo - 1"</em> e ricevuta l'autorizzazione a procedere, importare il file .xls,
          selezionando il tipo di rilevazione appropriato tra i seguenti:
        </p>
        <ul>
          <li><%= link_to "Cops", :controller => "import_cops" %></li>
          <li><%= link_to "Copl", :controller => "import_copl" %></li>
          <li><%= link_to "Legnose", :controller => "import_legnose" %></li>
          <li><%= link_to "Erbacee", :controller => "import_erbacee" %></li>
        </ul>
      </div>
      <div id="data_review">
        <h3>Passo - 3 (opzionale)</h3>
        <p class="fun_desc">
            Una volta eseguito il <em>"Passo - 2"</em> e ricevuta la conferma di approvazione dei dati importati, da parte di un amministratore,
            è possibile visualizzare il proprio import ricercandolo all'interno dell'archivio globale, cliccando su:
        </p>
        <ul>
          <li>
              <%= link_to "Import View", :controller => "import_public_view" %>
          </li>
        </ul>
      </div>

    </div>


<% end %>

<% unless current_user.blank? || current_user.user_kind_id != 1%>

    <ul>
      <li><%= link_to "Campagne", :controller => "admin/campagne" %></li>
      <li><%= link_to "Plot", :controller => "admin/plot" %></li>
      <li> <%= link_to "Approva Import", :controller => "admin/import_quick_view" %> </li>
      <li><%= link_to "Controlla Specie", :controller => "admin/check_species" %></li>
      <li><%= link_to "Visualizza errori di import", :controller => "admin/error_summary" %></li>
      <li><%= link_to "Nuovo modello src", :controller => "admin/simple_range_model" %></li>
      <li><%= link_to "Nuova Maschera d'obbligatorietà" ,:controller => "admin/mandatory_mask" %></li>
      <li> <%= link_to "Import View", :controller => "import_public_view" %> </li>
      <li><%= link_to "VEM", :controller => "admin/vem" %></li>
      <li><%= link_to "PLV", :controller => "admin/plv" %></li>
      <li><%= link_to "VS", :controller => "admin/vs" %></li>
      <li><%= link_to "Pignatti", :controller => "admin/pignatti" %></li>
      <li><%= link_to "Euflora", :controller => "admin/euflora" %></li>
      <li><%= link_to "Specie VS", :controller => "admin/specie_vs" %></li>
      <li><%= link_to "Listspe", :controller => "admin/listspe" %></li>
      <li><%= link_to "Statistiche", :controller => "admin/statistics" %></li>
      <li><%= link_to "Statistiche Specie", :controller => "admin/spe_stat" %></li>
      <li><%= link_to "Statistiche SU", :controller => "admin/su_stat" %></li>
      <li><%= link_to "Riepilogativi Europei", :controller => "admin/riepilogativi_europei" %></li>
      <li><%= link_to "File Manager", :controller => "admin/file_manager" %></li>
    </ul>

<% end %>


