<% content_for :title, "Import Cops - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "import_survey"%>
<%end%>

<div id="istruzioni">
  <h1>Legnose</h1>
  <%= render :partial => "import_cops/instruction"%>
</div>

<div id="import_mask">
<% if @active_campaign.blank? %>
    <p class="mask"><strong>Campagna attiva:</strong> Nessuna</p>
<% else %>
    <p class="mask"><strong>Campagna attiva:</strong> <%= @active_campaign.descrizione %></p>
    <p class="mask"><strong>Inizio:</strong> <%= @active_campaign.inizio %> <strong>Fine:</strong> <%= @active_campaign.fine %></p>
<% end %>
<p class="mask">Seleziona il file <strong class="subtitle">Legnose</strong> da importare:</p>
<% form_tag({:controller=>'import_legnose', :action => 'import_procedure'},:multipart => true) do %>
    <p class="mask">
      <%= file_field 'upload', 'datafile' %>
      <%= hidden_field_tag :survey, "leg" %>
    </p>
    <p class="null_margin">
      <%= submit_tag 'Carica' %>
    </p>
<% end %>
</div>