<h1>Legnose: Step 1 - File</h1>
<% if @active_campaign.blank? %>
    <p><strong>Campagna attiva:</strong> Nessuna</p>
<% else %>
    <p><strong>Campagna attiva:</strong> <%= @active_campaign.descrizione %></p>
    <p><strong>Inizio:</strong> <%= @active_campaign.inizio %> <strong>Fine:</strong> <%= @active_campaign.fine %></p>
<% end %>
<p>Seleziona il file Legnose da importare:</p>
<% form_tag({:controller=>'import_legnose', :action => 'import_procedure'},:multipart => true) do %>
    <p>
      <%= file_field 'upload', 'datafile' %>
      <%= hidden_field_tag :survey, "leg" %>
    </p>
    <p>
      <%= submit_tag 'Carica' %>
    </p>
<% end %>