<p>
  Survey:<%= @survey %> <br>
  Field:<%= @field %><br>
  Plot:<%= @plot %><br>
  Anno:<%= @anno %><br>
  In/Out:<%= @inout%><br>
  Pri/Est:<%= @priest%><br>
  Cod Strato:<%= @cod_strato%><br>
  Specie:<%= @specie%><br>
  Query select:<%= @query_part.select%><br>
  Query Group by:<%= @query_part.group_by%>
</p>
<% for i in 0..@stats.max_record.size-1 %>
    <li>Max:<%= @stats.max_record.at(i).maximus %></li>
    <li>InOut:<%= @stats.max_record.at(i).in_out unless @inout.blank?%></li>
    <li>Priest:<%= @stats.max_record.at(i).priest unless @priest.blank?%></li>
    <li>Cod_strato:<%= @stats.max_record.at(i).codice_strato unless @cod_strato.blank?%></li>
    <li>Specie_id:<%= @stats.max_record.at(i).specie_id unless @specie.blank?%></li>
<% end %>
