<table class="simple_stat head">
  <tbody>
    <tr>
      <th class="big">Plot</th>
      <th>Max</th>
      <th>Min</th>
      <th>Med</th>
      <th>Std</th>
      <th>Ste</th>
      <th>Cov</th>
      <th>N</th>
      <th class="bigger">Note</th>
    </tr>
  </tbody>
</table>
<div id="simple_ver_scroll">
<table class="simple_stat body">
  <tbody>
    <% for i in 0..@stat_list.size-1 %>
          <tr>
            <td class="big"><%= @stat_list.at(i).plot %></td>
            <td><%= @stat_list.at(i).max %></td>
            <td><%= @stat_list.at(i).min %></td>
            <td><%= @stat_list.at(i).med %></td>
            <td><%= @stat_list.at(i).std %></td>
            <td><%= @stat_list.at(i).ste %></td>
            <td><%= @stat_list.at(i).cov %></td>
            <td><%= @stat_list.at(i).n %></td>
            <td class="bigger"><%= @stat_list.at(i).note %></td>
          </tr>
    <% end %>
  </tbody>
</table>
</div>

<p id="download">
  <%= link_to "Download File", @file.relative_path  %>
</p>
