<h1>Admin::Statistics#index</h1>
<% form_remote_tag :url => { :action => 'result', :update => 'stat'} do %>
    <p>
        <%= label_tag :survey %><br />
        <%= select_tag :survey,"<option value= "" >-Seleziona-</option>" + options_for_select({"Erbacee" => "erb","Legnose" => "leg","Cops" => "cops","Copl" =>"copl"}) %>
        <%= observe_field :survey, :url => {:controller=>"admin/statistics", :action=>"update_field",:update => "select_field"},:with =>"selected_survey" %>
    </p>
    <div id="select_field">
        <p>
            <%= label_tag :campo %><br />
            <%= select_tag :field %>
        </p>
    </div>
    <p>
      <%= label_tag :anno %><br />
      <%= select_tag :anno , "<option value= "" >-Seleziona-</option>" + options_from_collection_for_select(@anno,:anno,:anno)  %>
    </p>
    <p>
      <%= label_tag :plot %><br />
      <%= select_tag :plot , "<option value= "" >-Seleziona-</option><option value='all' >Tutti</option>" + options_from_collection_for_select(@plot,:id,:id_plot)  %>
    </p>
    <%= submit_tag "Calcola" %>
<% end %>

<div id="stat">

</div>
