<% content_for :title, "Statistiche - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "stat"%>
<%end%>

<h2>Statistiche</h2>
<p class="desc">
    Tramite quest'interfaccia è possibile effettuare statistiche sui dati raccolti ed approvati.<br />
    Attraverso l'utilizzo di una serie di filtri è possibile generare il tipo di statistiche desiderate, visionarle e scaricarle in versione file.
</p>
<% form_remote_tag :url => { :action => 'result', :update => 'stat'} do %>
 <div id="input_mask">
   <div id="base_filter">
    <p class="filter">
      <%= label_tag :anno %><br />
      <%= select_tag :anno , "<option value= '0' >-Seleziona-</option>" + options_from_collection_for_select(@anno,:anno,:anno)  %>
    </p>
    <p class="filter">
      <%= label_tag :plot %><br />
      <%= select_tag :plot , "<option value= '0' >-Seleziona-</option><option value='all' >Tutti</option>" + options_from_collection_for_select(@plot,:id_plot,:id_plot)  %>
    </p>
    <p class="filter last">
      <%= label_tag :Rilevazione %><br />
      <%= select_tag :survey,"<option value= '0' >-Seleziona-</option>" + options_for_select({"Erbacee" => "erb","Legnose" => "leg","Cops" => "cops","Copl" =>"copl"}) %>
      <%= observe_field :survey, :url => {:controller=>"admin/statistics", :action=>"update_field",:update => "select_field"},:with =>"selected_survey" %>
    </p>
   </div>
    <div id="select_field">
      <p class="filter">
        <%= label_tag :attributo %><br />
        <%= select_tag :field, "<option value= '0' ></option>" %>
      </p>
    </div>
   <p id="sub_butt">
     <%= submit_tag "Genera" %>
   </p>
 </div>
<% end %>

<div id="stat">
</div>
