<h1>Compliance Error</h1>
<table>
  <tbody>
    <tr>
      <th colspan="11">
        <%= @file.file_name %>
      </th>
    </tr>
    <tr>
      <th>Row</th>
      <th>Error</th>
      <th>Data</th>
      <th>Plot</th>
      <th>Subplot</th>
      <th>Specie</th>
      <th>Copertura</th>
      <th>Copertura Esterna</th>
      <th>Altezza Media</th>
      <th>N.Cespi</th>
      <th>N.Stoloni</th>
      <th>N.Stoloni Radicanti</th>
      <th>N.Foglie</th>
      <th>N.Getti</th>
      <th>Danni Meccanici</th>
      <th>Danni Parassitari</th>
      <th>Note</th>
    </tr>
    <% for i in 0..@comp_err.size-1%>
    <tr>
      <td><%= @comp_err.at(i).row %></td>
      <td><%= @comp_err.at(i).error %></td>
      <td><%= @comp_err.at(i).data %></td>
      <td><%= @comp_err.at(i).plot %></td>
      <td><%= @comp_err.at(i).subplot %></td>

      <td><%= @comp_err.at(i).specie %></td>
      <td><%= @comp_err.at(i).copertura %></td>
      <td><%= @comp_err.at(i).copertura_esterna%></td>
      <td><%= @comp_err.at(i).altezza_media %></td>
      <td><%= @comp_err.at(i).numero_cespi %></td>
      <td><%= @comp_err.at(i).numero_stoloni %></td>
      <td><%= @comp_err.at(i).numero_stoloni_radicanti %></td>
      <td><%= @comp_err.at(i).numero_foglie %></td>
      <td><%= @comp_err.at(i).numero_getti %></td>
      <td><%= @comp_err.at(i).danni_meccanici %></td>
      <td><%= @comp_err.at(i).danni_parassitari %></td>

      <td><%= @comp_err.at(i).note %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= button_to_function("Print this Page", "javascript:print()") %>
</p>
