<% content_for :title, "Riepilogo Errori" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "compliance_error" %>
    <%= stylesheet_link_tag "compliance_error_print" , :media => :print %>
<%end%>

<h2>Errori di tipo 1</h2>

<%= render :partial => "import_erbacee/instr" %>

<div id="oriz_scroll">
<table id="head">
  <tbody>
    <tr class="head zero">
      <th colspan="17" id="file">
        <%= @file.file_name %> - <%= @comp_err.first.import_num%>
      </th>
    </tr>
    <tr class="head">
      <th>Row</th>
      <th class="bigger">Error</th>
      <th>Data</th>
      <th>Plot</th>
      <th>Subplot</th>
      <th class="big">Specie</th>
      <th>Copertura</th>
      <th>Copertura Esterna</th>
      <th>Altezza Media</th>
      <th>N.Cespi</th>
      <th>N.Stoloni</th>
      <th>N.Stoloni Radicanti</th>
      <th>N.Foglie</th>
      <th>N.Getti</th>
      <th>Danni Meccanici</th>
      <th>Danni Parassitari</th>
      <th class="bigger">Note</th>
    </tr>
    </tbody>
  </table>
  <div id="ver_scroll">
  <table id="body">
    <tbody>
    <% for i in 0..@comp_err.size-1%>
    <tr class="body">
      <td><%= @comp_err.at(i).row %></td>
      <td class="bigger"><%= @comp_err.at(i).error %></td>
      <td><%= @comp_err.at(i).data %></td>
      <td><%= convert_nil(@comp_err.at(i).plot) %></td>
      <td><%= convert_nil(@comp_err.at(i).subplot) %></td>
      <td class="big"><%= convert_nil(@comp_err.at(i).specie) %></td>
      <td><%= convert_nil(@comp_err.at(i).copertura) %></td>
      <td><%= convert_nil(@comp_err.at(i).copertura_esterna) %></td>
      <td><%= convert_nil(@comp_err.at(i).altezza_media) %></td>
      <td><%= convert_nil(@comp_err.at(i).numero_cespi) %></td>
      <td><%= convert_nil(@comp_err.at(i).numero_stoloni) %></td>
      <td><%= convert_nil(@comp_err.at(i).numero_stoloni_radicanti) %></td>
      <td><%= convert_nil(@comp_err.at(i).numero_foglie) %></td>
      <td><%= convert_nil(@comp_err.at(i).numero_getti) %></td>
      <td><%= convert_nil(@comp_err.at(i).danni_meccanici) %></td>
      <td><%= convert_nil(@comp_err.at(i).danni_parassitari) %></td>
      <td class="bigger"><%= convert_nil(@comp_err.at(i).note) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>

<p id="stamp">
  <%= button_to_function("Stampa il Report", "javascript:print()") %>
</p>
