<h1>Simple Range Error</h1>
<table>
  <tbody>
  <tr>
    <th colspan="11">
      <%= @file.file_name %>
    </th>
  </tr>
  <tr>
    <th>Row</th>
    <th>Error</th>
    <th>Data</th>
    <th>Plot</th>
    <th>Subplot</th>
    <th>Specie</th>
    <th>Copertura</th>
    <th>Copertura Esterna</th>
    <th>Altezza Media</th>
    <th>N.Cespi</th>
    <th>N.Stoloni</th>
    <th>N.Stoloni Radicanti</th>
    <th>N.Foglie</th>
    <th>N.Getti</th>
    <th>Danni Meccanici</th>
    <th>Danni Parassitari</th>
    <th>Note</th>
  </tr>
  <% for i in 0..@sr_err.size-1%>
      <tr>
        <td><%= @sr_err.at(i).row %></td>
        <td><%= @sr_err.at(i).error %></td>
        <td><%= @sr_err.at(i).data %></td>
        <td><%= @sr_err.at(i).plot %></td>
        <td><%= @sr_err.at(i).subplot %></td>

        <td>
          <% unless @sr_err.at(i).specie.blank? %>
            <%= @sr_err.at(i).specie %>
          <% end %>
        </td>
        <td><%= @sr_err.at(i).copertura %></td>
        <td><%= @sr_err.at(i).copertura_esterna%></td>
        <td><%= @sr_err.at(i).altezza_media %></td>
        <td><%= @sr_err.at(i).numero_cespi %></td>
        <td><%= @sr_err.at(i).numero_stoloni %></td>
        <td><%= @sr_err.at(i).numero_stoloni_radicanti %></td>
        <td><%= @sr_err.at(i).numero_foglie %></td>
        <td><%= @sr_err.at(i).numero_getti %></td>
        <td><%= @sr_err.at(i).danni_meccanici %></td>
        <td><%= @sr_err.at(i).danni_parassitari %></td>

        <td><%= @sr_err.at(i).note %></td>
      </tr>
  <% end %>
  </tbody>
</table>



<% unless @sr_warning.blank? %>
    <% form_tag({:action => "force_warning"}) do %>
        <h3>Warnings</h3>
        <table>
          <tbody>
          <tr>
            <th colspan="2">
              <%= @file.file_name %>
            </th>
          </tr>
          <tr>
            <th>Error</th>
            <th>Specie</th>
            <th>Giustifica</th>
          </tr>
          <% for i in 0..@sr_warning.size-1%>
              <tr>
                <td><%= @sr_warning.at(i).error %></td>
                <td><%= @sr_warning.at(i).specie %></td>
                <td>
                  <% if session[:sr_error] == false && session[:sr_warning] == true  %>
                      <input id="<%= "giustifica" + i.to_s %>" name="giustifica[]" type="text" />
                  <% end %>
                </td>
              </tr>
          <% end %>
          <tr>
            <td>
              <% if session[:sr_error] == false && session[:sr_warning] == true  %>
                  <%= submit_tag "Forza e Procedi" %>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>
<% end %>


<p>
  <%= button_to_function("Print this Page", "javascript:print()") %>
</p>
