
<% remote_form_for(@new_specie_vs, :url => {:controller => "admin/specie_vs", :action => "save_specie_vs" }) do |f| %>
    <p>
      <%= f.label "Species" %><br/>
      <%= f.text_field :species %>
    </p>
    <p>
      <%= f.label "Listspe" %><br/>
      <%= f.select :listspe, "<option value ="">-Seleziona-</option><option>B4</option><option>L2</option><option>M2</option>".html_safe %>
    </p>
    <p>
      <%= submit_tag ("Salva")%><%= button_to_remote "Annulla", :url => { :controller =>"admin/specie_vs",:action => "close_new_specie_vs"} %>
    </p>
<% end %>

