<% if !@specie_vs.blank? %>
<% if @message %>
    <p class="edit_message"><%= @message %></p>
<% end %>
<div id="t_wrapper">
  <table id="head">
      <tbody>
        <tr>
          <th>Species</th>
          <th>Listspe</th>
          <th>Opzioni</th>
        </tr>
      </tbody>
  </table>
  <div id="ver_scroll">
  <table id="body">
      <tbody>
        <% for i in 0..@specie_vs.size-1 %>
            <tr>
              <td><%= @specie_vs.at(i).species %> </td>
              <td><%= @specie_vs.at(i).listspe %></td>
              <td>
                <%= button_to_remote "Modifica", :url => { :controller =>"admin/specie_vs",:action => "edit", :id =>@specie_vs.at(i).id, :i => i,:page =>params[:page]} %>
                <%= button_to_remote "Elimina", :url => { :controller =>"admin/specie_vs",:action => "delete", :id =>@specie_vs.at(i).id,:page =>params[:page]}, :confirm => "Eliminando questa specie VS, eliminerai anche tutti i dati ad essa collegati. Procedere?" %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
   </div>
  <%= will_paginate @specie_vs %>
</div>
<% else %>

    <p>Nessun plot presente</p>

<% end %>