<h1>Pignatti</h1>
<div id="pignatti">
  <% for i in 0..@evolution.size-1 %>
    <div class="row">
      <div class="p_attuale">
        <p><strong>Stato Attuale:</strong><br /><br />
          <strong>Pignatti</strong><br />
          <%= @evolution.at(i).at(0).descrizione %><br /><br />
          <% unless @evolution.at(i).at(0).euflora_id.blank? %>
            <strong>Euflora</strong><br />
              <%= Euflora.find(@evolution.at(i).at(0).euflora_id).codice_eu %><br />
              <%= Euflora.find(@evolution.at(i).at(0).euflora_id).descrizione %><br />
              <%= Euflora.find(@evolution.at(i).at(0).euflora_id).famiglia %><br />
              <%= Euflora.find(@evolution.at(i).at(0).euflora_id).specie %><br />
        <% end %>
        </p>
      </div>
        <% unless @evolution.at(i).at(1).blank? %>
            <% for j in 0..@evolution.at(i).at(1).size-1 %>
              <div class="evolution">
                <p><strong>Stato <%= @evolution.at(i).at(1).size - j %></strong><br />
                  <%= @evolution.at(i).at(1).at(j).data %><br /><br />

                  <strong>Pignatti</strong><br />
                  <%= @evolution.at(i).at(1).at(j).spe_desc %><br /><br />

                  <strong>Euflora</strong><br />
                  <%= @evolution.at(i).at(1).at(j).codice_eu %><br />
                  <%= @evolution.at(i).at(1).at(j).eu_desc %><br />
                  <%= @evolution.at(i).at(1).at(j).eu_fam %><br />
                  <%= @evolution.at(i).at(1).at(j).eu_spe %><br />
                </p>
              </div>
            <% end %>
        <% end %>
    </div>
  <% end %>
</div>

<h2>Euflora</h2>
<div id="euflora">
  <% for i in 0..@eu_evolution.size-1 %>
    <div class="row">
      <div class="e_attuale">
      <p> <strong>Stato Attuale:</strong><br /><br />
        <%= @eu_evolution.at(i).at(0).codice_eu %><br />
        <%= @eu_evolution.at(i).at(0).descrizione %><br />
        <%= @eu_evolution.at(i).at(0).famiglia %><br />
        <%= @eu_evolution.at(i).at(0).specie %><br />
      </p>
      </div>
      <% unless @eu_evolution.at(i).at(1).blank? %>
          <% for j in 0..@eu_evolution.at(i).at(1).size-1 %>
              <div class="evolution">
                <p><strong>Stato <%= @eu_evolution.at(i).at(1).size - j %></strong><br />
                  <%= @eu_evolution.at(i).at(1).at(j).data %><br /><br />
                  <%= @eu_evolution.at(i).at(1).at(j).codice_eu %><br />
                  <%= @eu_evolution.at(i).at(1).at(j).descrizione %><br />
                  <%= @eu_evolution.at(i).at(1).at(j).famiglia %><br />
                  <%= @eu_evolution.at(i).at(1).at(j).specie %><br />
                </p>
              </div>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>


<div id="a_porco" ></div>

