<h3>Pignatti</h3>
<div id="pignatti">
  <% for i in 0..@evolution.size-1 %>
        <div class="p_attuale">
        <p class="info"><strong class="block_state">Stato Attuale</strong><br /><br />
          <strong class="main">Pignatti</strong><br />
          <strong>Descrizione:</strong> <%= @evolution.at(i).at(0).descrizione %><br /><br />
          <% unless @evolution.at(i).at(0).euflora_id.blank? %>
            <strong class="main">Euflora</strong><br />
              <strong>Codice Europeo:</strong> <%= Euflora.find(@evolution.at(i).at(0).euflora_id).codice_eu %><br />
              <strong>Descrizione:</strong> <%= Euflora.find(@evolution.at(i).at(0).euflora_id).descrizione %><br />
              <strong>Famiglia:</strong> <%= Euflora.find(@evolution.at(i).at(0).euflora_id).famiglia %><br />
              <strong>Specie:</strong> <%= Euflora.find(@evolution.at(i).at(0).euflora_id).specie %><br />
        <% end %>
        </p>
      </div>
        <% unless @evolution.at(i).at(1).blank? %>
            <% for j in 0..@evolution.at(i).at(1).size-1 %>
              <div class="evolution">
                <p class="info"><strong class="block_state">Stato <%= @evolution.at(i).at(1).size - j %></strong> (<%= @evolution.at(i).at(1).at(j).data.strftime('%d-%m-%Y') %>)<br /><br />

                  <strong class="main">Pignatti</strong><br />
                  <strong>Descrizione:</strong> <%= @evolution.at(i).at(1).at(j).spe_desc %><br /><br />

                  <strong class="main">Euflora</strong><br />
                  <strong>Codice Europeo:</strong> <%= @evolution.at(i).at(1).at(j).codice_eu %><br />
                  <strong>Descrizione:</strong> <%= @evolution.at(i).at(1).at(j).eu_desc %><br />
                  <strong>Famiglia:</strong> <%= @evolution.at(i).at(1).at(j).eu_fam %><br />
                  <strong>Specie:</strong> <%= @evolution.at(i).at(1).at(j).eu_spe %><br />
                </p>
              </div>
            <% end %>
        <% end %>
   <br />
  <% end %>
</div>

<h4>Euflora</h4>
<div id="euflora">
  <% for i in 0..@eu_evolution.size-1 %>
      <div class="e_attuale">
      <p class="info"><strong class="block_state">Stato Attuale</strong><br /><br />
        <strong class="main">Euflora</strong><br />
        <strong>Codice Europeo:</strong> <%= @eu_evolution.at(i).at(0).codice_eu %><br />
        <strong>Descrizione:</strong> <%= @eu_evolution.at(i).at(0).descrizione %><br />
        <strong>Famiglia:</strong> <%= @eu_evolution.at(i).at(0).famiglia %><br />
        <strong>Specie:</strong> <%= @eu_evolution.at(i).at(0).specie %><br /><br />
        <strong class="block_state main">Specie VS</strong><br />
        <% unless @eu_evolution.at(i).at(0).specie_vs_id.blank?  %>
           <strong>Species:</strong> <%= SpecieVs.find(@eu_evolution.at(i).at(0).specie_vs_id).species %><br />
           <strong>Listspe:</strong> <%= SpecieVs.find(@eu_evolution.at(i).at(0).specie_vs_id).listspe %><br />
           <strong>Descrizione:</strong> <%= SpecieVs.find(@eu_evolution.at(i).at(0).specie_vs_id).descrizione %><br />
        <% end %>
      </p>
      </div>
      <% unless @eu_evolution.at(i).at(1).blank? %>
          <% for j in 0..@eu_evolution.at(i).at(1).size-1 %>
              <div class="evolution eu">
                <p class="info"><strong class="block_state">Stato <%= @eu_evolution.at(i).at(1).size - j %></strong> (<%= @eu_evolution.at(i).at(1).at(j).data.strftime('%d-%m-%Y') %>)<br /><br />
                  <strong class="main">Euflora</strong><br />
                  <strong>Codice Europeo:</strong> <%= @eu_evolution.at(i).at(1).at(j).codice_eu %><br />
                  <strong>Descrizione:</strong> <%= @eu_evolution.at(i).at(1).at(j).descrizione %><br />
                  <strong>Famiglia:</strong> <%= @eu_evolution.at(i).at(1).at(j).famiglia %><br />
                  <strong>Specie:</strong> <%= @eu_evolution.at(i).at(1).at(j).specie %><br /><br />
                  <strong class="block_state main">Specie VS</strong><br />
                  <strong>Species:</strong> <%= @eu_evolution.at(i).at(1).at(j).vs_species %><br />
                  <strong>Listspe:</strong> <%= @eu_evolution.at(i).at(1).at(j).vs_listspe %><br />
                  <strong>Descrizione:</strong> <%= @eu_evolution.at(i).at(1).at(j).vs_descrizione %><br />
                </p>
              </div>
          <% end %>
      <% end %>
    <br />
  <% end %>
</div>

<p id="download_file">
  <%= link_to "Download File", :action => "download_file", :file => @file.id %>
</p>


<div id="stop_pr" ></div>

