<% unless @import_data.blank?%>
 <div id="oriz_scroll">
    <table id="head">
      <thead>
      <tr class="head">
        <th>Data</th>
        <th>Subplot</th>
        <th class="spe">Specie</th>
        <th>Copertura</th>
        <th>Copertura Esterna</th>
        <th>Altezza Media</th>
        <th>N.Cespi</th>
        <th>N.Stoloni</th>
        <th>N.Stoloni Radicanti</th>
        <th>N.Foglie</th>
        <th>N.Getti</th>
        <th>Danni Meccanici</th>
        <th>Danni Parassitari</th>
        <th class="note">Note Rilevamento</th>
        <th class="note">Note Specie Abituale</th>
      </tr>
      </thead>
    </table>
    <div id="scroller">
    <table id="body">
      <tbody>
      <% for i in 0..@import_data.size-1 %>
          <tr class="body">
            <td><%= @import_data.at(i).data %></td>
            <td><%= @import_data.at(i).subplot %></td>
            <td class="spe"><%= convert_nil(@import_data.at(i).descrizione_pignatti) %></td>
            <td><%= convert_nil(@import_data.at(i).copertura) %></td>
            <td><%= convert_nil(@import_data.at(i).copertura_esterna) %></td>
            <td><%= convert_nil(@import_data.at(i).altezza_media) %></td>
            <td><%= convert_nil(@import_data.at(i).numero_cespi) %></td>
            <td><%= convert_nil(@import_data.at(i).numero_stoloni) %></td>
            <td><%= convert_nil(@import_data.at(i).numero_stoloni_radicanti) %></td>
            <td><%= convert_nil(@import_data.at(i).numero_foglie) %></td>
            <td><%= convert_nil(@import_data.at(i).numero_getti) %></td>
            <td><%= convert_nil(@import_data.at(i).danni_meccanici) %></td>
            <td><%= convert_nil(@import_data.at(i).danni_parassitari) %></td>
            <td class="note"><%= convert_nil(@import_data.at(i).note) %></td>
            <td class="note"><%= convert_nil(@import_data.at(i).habitual_specie_note) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
 </div>
<% end %>

<p id="download">
  <%= link_to "Download File",@file.relative_path unless @import_data.blank? %>
</p>