<% unless @import_data.blank?%>
    <div id="oriz_scroll">
    <table id="head">
      <thead>
      <tr class="head">
        <th>Data</th>
        <th>Subplot</th>
        <th>In/Out</th>
        <th>Pri/Est</th>
        <th>Copertura Complessiva</th>
        <th>Altezza Arboreo</th>
        <th>Copertura Arboreo</th>
        <th>Altezza Arbustivo</th>
        <th>Copertura Arbustivo</th>
        <th>Altezza Erbaceo</th>
        <th>Copertura Erbaceo</th>
        <th>Copertura Muscinale</th>
        <th>Copertura Lettiera</th>
        <th>Copertura Suolo Nudo</th>
        <th class="note">Note Rilevamento</th>
      </tr>
      </thead>
    </table>
    <div id="scroller">
    <table id="body">
      <tbody>
      <% for i in 0..@import_data.size-1 %>
          <tr class="body">
            <td><%= @import_data.at(i).data %></td>
            <td><%= @import_data.at(i).subplot %></td>
            <td><%= @import_data.at(i).in_out %></td>
            <td><%= @import_data.at(i).priest %></td>
            <td><%= convert_nil(@import_data.at(i).copertura_complessiva) %></td>
            <td><%= convert_nil(@import_data.at(i).altezza_arboreo) %></td>
            <td><%= convert_nil(@import_data.at(i).copertura_arboreo) %></td>
            <td><%= convert_nil(@import_data.at(i).altezza_arbustivo) %></td>
            <td><%= convert_nil(@import_data.at(i).copertura_arbustivo) %></td>
            <td><%= convert_nil(@import_data.at(i).altezza_erbaceo) %></td>
            <td><%= convert_nil(@import_data.at(i).copertura_erbaceo) %></td>
            <td><%= convert_nil(@import_data.at(i).copertura_muscinale) %></td>
            <td><%= convert_nil(@import_data.at(i).copertura_lettiera) %></td>
            <td><%= convert_nil(@import_data.at(i).copertura_suolo_nudo) %></td>
            <td class="note"><%= convert_nil(@import_data.at(i).note) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    </div>
<% end %>

<p id="download">
  <%= link_to "Download File",download_if_path(@file.id) unless @import_data.blank? %>
</p>