<% form_tag :controller => "admin/simple_range_model", :action => "create" do %>

    <table class="new head">
      <thead>
      <tr>
        <th class="nh1">Tabella</th>
        <th class="nh2">Attributo</th>
        <th class="nh3">Min</th>
        <th class="nh4">Max</th>
      </tr>
      </thead>
    </table>
    <div class="ver_scroll">
    <table class="new">
      <tbody>
      <% for i in 0..@standard_srm.size-1 %>
          <tr class="new_body">
            <td class="nh1"><%= @standard_srm.at(i).reference_table %></td>
            <td class="nh2"><%= @standard_srm.at(i).attr %></td>
            <td class="nh3"><%= text_field_tag "min#{i}", "#{@standard_srm.at(i).min}",:size => 2 %></td>
            <td class="nh4"><%= text_field_tag "max#{i}", "#{@standard_srm.at(i).max}",:size => 2 %></td>
          </tr>
      <%end%>
      </tbody>
    </table>
    </div>

    <p class="nome">
      <strong><%= label_tag "Nome Modello:" %></strong>
      <%= text_field_tag :nome %>
    </p>

     <%= submit_tag "Salva" , :class => "butt_new"%> <%= button_to_function "Annulla","new_model.hide()", :class => "butt_new"%>


<% end %>