<% form_remote_tag :url => { :controller => "admin/plot", :action => "save_edit", :update => "plot_list"} do %>
<table id="head">
  <tbody>
  <tr>
    <th>Identificativo</th>
    <th>Descrizione</th>
    <th>Numero</th>
    <th>Latitudine</th>
    <th>Longitudine</th>
    <th>Altitudine</th>
    <th>IM</th>
    <th>Note</th>
    <th class="bigger">Opzioni</th>
  </tr>
  </tbody>
</table>
<div id="ver_scroll">
<table id="body">
  <tbody>
  <% for i in 0..@plot.size-1 %>
    <% if @i.to_i == i.to_i %>
      <tr>
            <td>
              <%= @plot.at(i).id_plot %>
              <%= hidden_field_tag :id ,@plot.at(i).id %>
            </td>
            <td><%= @plot.at(i).descrizione %></td>
            <td><%= @plot.at(i).numero_plot %></td>
            <td>
              <%= text_field_tag :latitudine, @plot.at(i).latitudine, :size => 4, :autofocus => true %>
              <%= javascript_tag "$('latitudine').focus()" %>
            </td>
            <td>
              <%= text_field_tag :longitudine, @plot.at(i).longitudine, :size => 4 %>
            </td>
            <td>
              <%= text_field_tag :altitudine, @plot.at(i).altitudine, :size => 4 %>
            </td>
            <td><%= @plot.at(i).im %></td>
            <td><%= @plot.at(i).note %></td>
            <td class="bigger">
              <%= submit_tag "Salva" %>
              <%= button_to_remote "Annulla", :url => { :controller =>"admin/plot",:action => "close_edit" } %>
            </td>
      </tr>
    <% else %>
      <tr>
        <td><%= @plot.at(i).id_plot %></td>
        <td><%= @plot.at(i).descrizione %></td>
        <td><%= @plot.at(i).numero_plot %></td>
        <td><%= @plot.at(i).latitudine %></td>
        <td><%= @plot.at(i).longitudine %></td>
        <td><%= @plot.at(i).altitudine %></td>
        <td><%= @plot.at(i).im %></td>
        <td><%= @plot.at(i).note %></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>
<% end %>
