
<% remote_form_for(@new_plot, :url => {:controller => "admin/plot", :action => "save_plot" }) do |f| %>
    <div class="new_plot_float_f">
    <p class="input_p">
      <%= f.label "Identificativo" %><br/>
      <%= f.text_field :id_plot %>
    </p>
    <p class="input_p">
      <%= f.label "Descrizione" %><br/>
      <%= f.text_field :descrizione %>
    </p>
    <p class="input_p">
      IM<br />
      <%= f.text_field :im %>
    </p>
    <p class="input_p">
      <%= f.label "Note" %><br/>
      <%= f.text_field :note %>
    </p>
    </div>
    <div class="new_plot_float_s">
    <p class="input_p">
      <%= f.label "Latitudine" %><br/>
      <%= f.text_field :latitudine %>
    </p>
    <p class="input_p">
      <%= f.label "Longitudine" %><br/>
      <%= f.text_field :longitudine %>
    </p>
    <p class="input_p">
      <%= f.label "Altitudine" %><br/>
      <%= f.text_field :altitudine %>
    </p>
      <p class="new_plot_button">
        <%= submit_tag ("Salva")%><%= button_to_remote "Annulla", :url => { :controller =>"admin/plot",:action => "close_new_plot"} %>
      </p>
    </div>

<% end %>

