<% content_for :title, "Plot - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "acc_info" %>
<% end %>

<h2>Informazioni Accessorie</h2>

<p class="desc">
    Quest'interfaccia permette di associare file descrittivi ai plot esistenti.<br />
    Tramite l'archivio è invece possibile cercare e scaricare i file caricati.
</p>

<h3>Caricamento File</h3>
<div id="load_mask">
<% form_tag({:controller=>'admin/plot', :action => 'attach_file'},:multipart => true) do %>
    <p class="load">
      <%= label_tag "Plot:" %><br />
      <%= select_tag "plot","<option value=''>-Seleziona-</option>" + options_from_collection_for_select(@plot,:id,:id_plot) %>
    </p>
    <p class="load">
      <%= label_tag "File:" %><br />
      <%= file_field 'upload', 'datafile' %>
    </p>
    <p class="load">
      <%= label_tag "Descrizione" %><br />
      <%= text_field_tag :desc %>
    </p>
    <p class="load_button">
      <%= submit_tag 'Carica' %>
    </p>
<% end %>
</div>

<p class="plot_list">
  <%= link_to "Plot",:controller => "admin/plot" %>
</p>

<h4>Archivio</h4>
<div id="error" style="display:none;"></div>

<div id="find_wrap">
<% form_remote_tag(:url => {:controller=>'admin/plot', :action => 'search_file'}) do %>
    <p class="find">
      <%= label_tag "Plot:" %><br />
      <%= select_tag "plot_file","<option value=''>-Seleziona-</option>" + options_from_collection_for_select(@plot,:id,:id_plot) %>
    </p>
    <p class="find_button">
      <%= submit_tag 'Cerca' %>
    </p>
<% end %>
</div>

<div id="file_list">
</div>

<div id="stop_float"></div>
