<h2>Simplerange Warnings</h2>
<table>
  <tbody>
  <tr>
    <th colspan="11">
      <%= @file.file_name %>
    </th>
  </tr>
  <tr>
    <th>Row</th>
    <th>Warning</th>
    <th>Data</th>
    <th>Plot</th>
    <th>Subplot</th>
    <th>In/Out</th>
    <th>Pri/Est</th>
    <th>Strato</th>
    <th>Specie</th>
    <th>Copertura</th>
    <th>Note</th>
    <th>Opzioni</th>
  </tr>
  <% for i in 0..@sr_war.size-1%>
      <tr>
        <td><%= @sr_war.at(i).row %></td>
        <td><%= @sr_war.at(i).error %></td>
        <td><%= @sr_war.at(i).data %></td>
        <td><%= @sr_war.at(i).plot %></td>
        <td><%= @sr_war.at(i).subplot %></td>
        <td><%= @sr_war.at(i).in_out %></td>
        <td><%= @sr_war.at(i).priest %></td>
        <td><%= @sr_war.at(i).codice_strato %></td>
        <td><%= @sr_war.at(i).specie %></td>
        <td><%= @sr_war.at(i).copertura %></td>
        <td><%= @sr_war.at(i).note %></td>
      <% if @sr_war.at(i).forced == false %>
         <td><%= button_to("Conferma",:controller =>"import_cops", :action=>"force_parameter", :n => @sr_war.at(i).id)%></td>
      <% elsif @sr_war.at(i).forced == true %>
        <td><%= button_to("Annulla",:controller =>"import_cops", :action=>"force_abort", :n => @sr_war.at(i).id)%></td>
      <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
