<h1>Compliance Error</h1>
<table>
  <tbody>
    <tr>
      <th colspan="13">
        <%= @file.file_name %>
      </th>
    </tr>
    <tr>
      <th>Row</th>
      <th>Error</th>
      <th>Data</th>
      <th>Plot</th>
      <th>Subplot</th>
      <th>In/Out</th>
      <th>Pri/Est</th>
      <th>Strato</th>
      <th>Specie</th>
      <th>Copertura</th>
      <th>Note</th>
      <th>Substrate</th>
      <th>Certainty Species Determination</th>
    </tr>
    <% for i in 0..@comp_err.size-1%>
    <tr>
      <td><%= @comp_err.at(i).row %></td>
      <td><%= @comp_err.at(i).error %></td>
      <td><%= @comp_err.at(i).data %></td>
      <td><%= @comp_err.at(i).plot %></td>
      <td><%= @comp_err.at(i).subplot %></td>
      <td><%= @comp_err.at(i).in_out %></td>
      <td><%= @comp_err.at(i).priest %></td>
      <td><%= @comp_err.at(i).codice_strato %></td>
      <td><%= @comp_err.at(i).specie %></td>
      <td><%= @comp_err.at(i).copertura %></td>
      <td><%= @comp_err.at(i).note %></td>
      <td><%= @comp_err.at(i).substrate_code %></td>
      <td><%= @comp_err.at(i).certainty_species_determination_code %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= button_to_function("Print this Page", "javascript:print()") %>
</p>


