<h2>Inserimento Campagna</h2>
<p>Inserisci una nuova campagna da associare al file di import:</p>

<% form_tag(:action => 'save_campagna') do %>

    <p>
      <%= label_tag "Descrizione" %><br />
      <%= text_field_tag :descrizione %>
    </p>
    <p>
      <%= label_tag "Inizio" %><br />
      <%= calendar_date_select_tag :inizio, "" , :popup => "force" %>
    </p>
    <p>
      <%= label_tag "Fine" %><br />
      <%= calendar_date_select_tag :fine, "" , :popup => "force" %>
    </p>
    <p>
      <%= label_tag "Note" %><br />
      <%= text_area_tag :note,'', :size => "30x5" %>
    </p>
    <p>
      <%= submit_tag ("Ok")%>
    </p>
<% end %>