<h1>SurveySheet#index</h1>

<% form_tag({:controller=>'survey_sheet', :action => 'import_file'},:multipart => true) do %>
    <p>
      <%= file_field 'upload', 'datafile' %>
    </p>
    <p>
      <%= select_tag :survey,"<option value = "" >-Seleziona-</option>" + options_for_select({"Erbacee" => "erb","Legnose" => "leg","Copl" => "copl","Cops" =>"cops"}) %>
    </p>
    <p>
      <%= submit_tag 'Carica' %>
    </p>
<% end %>

<% unless @loaded_file.blank? %>
    <h2>Schede di rilevamento caricate per: <%= @active_campaign.descrizione %></h2>
    <ul>
      <% @loaded_file.each do |lf| %>
        <li><%= lf.survey %>: <%= lf.name %> </li>
      <% end %>
    </ul>
<% end %>
