
<% remote_form_for(@new_specie, :url => {:controller => "admin/pignatti", :action => "save_specie" }) do |f| %>
    <p>
      <%= f.label "Descrizione" %><br/>
      <%= f.text_field :descrizione %>
    </p>
    <p>
      <%= f.label "Euflora" %><br/>
      <%= f.select :euflora_id, "<option value ="">-Seleziona-</option>" + options_from_collection_for_select(@euflora,:id,:descrizione) %>
    </p>
    <p>
      <%= submit_tag ("Salva")%><%= button_to_remote "Annulla", :url => { :controller =>"admin/pignatti",:action => "close_new_specie"} %>
    </p>
<% end %>
