<% if @message %>
<p class="edit_message"><%= @message %></p>
<% end %>
<div id="t_wrapper">
<table id="head">
  <tbody>
    <tr>
      <th>Descrizione</th>
      <th>Euflora</th>
      <th>Opzioni</th>
    </tr>
  </tbody>
</table>
<div id="ver_scroll">
<table id="body">
  <tbody>
    <% for i in 0..@pignatti.size-1 %>
    <tr>
      <td><%= @pignatti.at(i).descrizione %></td>
      <td>
        <%= Euflora.find(@pignatti.at(i).euflora_id).descrizione unless @pignatti.at(i).euflora_id.blank? %>
      </td>
      <td>
        <%= button_to_remote "Modifica", :url => { :controller =>"admin/pignatti",:action => "edit", :id =>@pignatti.at(i).id, :i => i, :page =>params[:page]} %>
        <%= button_to_remote "Elimina", :url => { :controller =>"admin/pignatti",:action => "delete", :id =>@pignatti.at(i).id, :page=>params[:page]}, :confirm => "Eliminando questa specie, eliminerai anche tutti i dati ad essa collegati. Procedere?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>